﻿@model IEnumerable<DataModel.BusinessObject.Campagne>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbFourmi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbFourmi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampagneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampagneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampagneID })
        </td>
    </tr>
}

</table>
