﻿@model DataModel.BusinessObject.Campagne

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Campagne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbFourmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbFourmi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nourriture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nourriture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampagneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
