﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/materialize.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Fourmiliere</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/Home/Index">Accueil</a></li>
                <li><a href="/Fourmis/Index">Fourmis</a></li>
                <li><a href="/Campagnes/Index">Campagnes</a></li>
                <li><a href="/Fourmis/ListeFourmiByApi">Fourmis API</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col m10 offset-m1">
            @RenderBody()
        </div>

    </div>
</body>
</html>

<script src="~/Content/js/materialize.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
