﻿@model IEnumerable<DataModel.BusinessObject.Fourmi>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vitesse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vitesse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FourmiId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FourmiId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FourmiId })
        </td>
    </tr>
}

</table>
