﻿@model DataModel.BusinessObject.Fourmi

<div>
    <h4>Fourmi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campagne.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campagne.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vitesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vitesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FourmiId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
