﻿
@{
    ViewBag.Title = "ListeFourmiByApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>Liste de Fourmi :</h2>

<ul id="idListFourmi"></ul>

<script>

    $.getJSON('http://localhost:50006/api/Fourmis', function (data) {

        $(data).each(function (idx, elmnt) {
            var li = '<li> Etat ' + elmnt.Etat + " Vitesse " + elmnt.Vitesse
                + " Capacite " + elmnt.Capacite + " Level " + elmnt.Level+ '</li>';

            $('#idListFourmi').append(li);
        });
    });


</script>